In [2]:
import numpy as np
from datetime import datetime
import re
import warnings
warnings.filterwarnings('ignore', category=UserWarning, message='Parsing.*in DD/MM/YYYY format')
# warnings.filterwarnings('ignore')  # Suppress all warnings

In [3]:
import os
import pandas as pd
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_colwidth', None) # Show full column content
dataset_folder = r"C:\Users\malay chand\Desktop\project\guvi_project\Amazon\Dataset"

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Set plotting style
plt.style.use('default')
sns.set_palette("husl")


## Data Loading

# Load the datasets
try:
    # Load Amazon products data
    amazon_products = pd.read_csv('amazon_products.csv')
    print("Amazon Products Dataset loaded successfully!")
    print(f"Shape: {products_df.shape}")
    
    # Load Amazon customer data
    amazon_complete = pd.read_csv('amazon.csv')
    print("Amazon Customer Dataset loaded successfully!")
    print(f"Shape: {customers_df.shape}")
    
except FileNotFoundError as e:
    print(f"Error: {e}")
    print("Please ensure the CSV files are in the same directory as this notebook")

In [7]:
amazon_complete = pd.read_csv(os.path.join(dataset_folder, "amazon_india_complete_2015_2025.csv"))
print(f"Shape: {amazon_complete.shape}")

Shape: (1127609, 34)

In [9]:
amazon_complete

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,discounted_price_inr,quantity,subtotal_inr,delivery_charges,final_amount_inr,customer_city,customer_state,customer_tier,customer_spending_tier,customer_age_group,payment_method,delivery_days,delivery_type,is_prime_member,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2023_00063013,2023-07-23,CUST_2023_00018393,PROD_000454,Vivo Y95 64GB Black,Electronics,Smartphones,Vivo,27340.84,21.57,21442.59,1,21442.59,0.0,21442.59,Kolkata,West Bengal,Metro,Standard,36-45,COD,3,Standard,False,False,NaN,4.0,Delivered,7,2023,3,0.20,True,3.5
1,TXN_2021_00064486,20-07-2021,CUST_2015_00002865,PROD_000579,Realme Realme 3 128GB Black,Electronics,Smartphones,Realme,32907.49,0.00,32907.49,3,98722.47,0.0,98722.47,Ludhiana,Punjab,Tier2,Standard,NaN,UPI,3,Standard,False,False,NaN,5/5,Delivered,7,2021,3,0.21,False,4.5
2,TXN_2017_00065617,2017-11-16,CUST_2016_00004057,PROD_000295,Vivo V7 32GB Blue,Electronics,Smartphones,Vivo,"47,052.18",21.91,36741.38,1,36741.38,0.0,36741.38,Bangalore,Karnataka,Metro,Premium,36-45,Debit Card,6,Standard,False,False,NaN,5.0,Delivered,11,2017,4,0.24,True,4.3
3,TXN_2020_00054393,2020-05-04,CUST_2020_00014574,PROD_001654,Alienware Pavilion 4GB RAM Silver,Electronics,Laptops,Alienware,238725.44,59.60,96456.27,1,96456.27,0.0,96456.27,Bangalore,Karnataka,Metro,Premium,46-55,UPI,3,Standard,False,True,Summer Sale,5.0 stars,Delivered,5,2020,2,1.85,Yes,3.6
4,TXN_2018_00071646,2018-10-09,CUST_2018_00006275,PROD_000095,Motorola Moto X Play 16GB White,Electronics,Smartphones,Motorola,25970.76,0.00,25970.76,1,25970.76,0.0,25970.76,Kochi,Kerala,Tier2,Standard,18-25,COD,4,Standard,False,False,NaN,4.0,Delivered,10,2018,4,0.16,False,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127604,TXN_2018_00047331,2018-07-06,CUST_2017_00025689,PROD_000009,Apple iPhone 6 Plus 16GB Black,Electronics,Smartphones,Apple,134278.16,30.83,92886.49,1,92886.49,0.0,92886.49,Jaipur,Rajasthan,Tier1,Standard,26-35,Debit Card,4,Standard,False,True,Back to School,5.0,Delivered,7,2018,3,0.17,True,3.6
1127605,TXN_2022_00065321,2022-07-23,CUST_2021_00026763,PROD_001732,OnePlus iPad 8GB RAM Silver,Electronics,Tablets,OnePlus,97578.76,0.00,97578.76,1,97578.76,0.0,97578.76,Delhi,Delhi,Metro,Premium,36-45,UPI,1,Same Day,True,False,NaN,4.5,Delivered,7,2022,3,0.58,True,4.6
1127606,TXN_2023_00057908,01-07-2023,CUST_2023_00031035,PROD_001572,ASUS Inspiron 8GB RAM Black,Electronics,Laptops,ASUS,105284.29,43.31,59683.64,1,59683.64,0.0,59683.64,Bhubaneswar,Odisha,Tier2,Standard,26-35,Debit Card,1,Same Day,1,True,Back to School,4.0,Delivered,7,2023,3,1.37,True,4.2
1127607,TXN_2020_00035169,2020-04-12,CUST_2017_00005760,PROD_001582,ASUS Gaming 8GB RAM Silver,Electronics,Laptops,ASUS,"Rs 72,687",0.00,72686.89,1,72686.89,0.0,72686.89,Mumbai,Maharashtra,Metro,Budget,26-35,COD,4,Standard,0,False,NaN,5.0,Delivered,4,2020,2,2.02,False,3.8
1127608,TXN_2022_00124835,2022-12-06,CUST_2022_00042212,PROD_001764,JBL Gaming Headset,Electronics,Audio,JBL,7092.55,0.00,7092.55,3,21277.65,0.0,21277.65,Surat,Gujarat,Tier1,Budget,18-25,UPI,2,Express,True,False,NaN,5.0,Delivered,12,2022,4,0.71,True,3.3

In [4]:
amazon_products = pd.read_csv(os.path.join(dataset_folder, "amazon_india_products_catalog.csv"))
print(f"Shape: {amazon_products.shape}")

Shape: (2004, 11)

In [5]:
amazon_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         2004 non-null   object
 1   product_name       2004 non-null   object
 2   category           2004 non-null   object
 3   subcategory        2004 non-null   object
 4   brand              2004 non-null   object
 5   base_price_2015    2004 non-null   float64
 6   weight_kg          2004 non-null   float64
 7   rating             2004 non-null   float64
 8   is_prime_eligible  2004 non-null   bool
 9   launch_year        2004 non-null   int64
 10  model              2004 non-null   object
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 158.6+ KB

In [6]:
amazon_products

,product_id,product_name,category,subcategory,brand,base_price_2015,weight_kg,rating,is_prime_eligible,launch_year,model
0,PROD_000001,Apple iPhone 6 16GB Black,Electronics,Smartphones,Apple,190469.10,0.21,3.9,True,2015,iPhone 6
1,PROD_000002,Apple iPhone 6 32GB Black,Electronics,Smartphones,Apple,158424.89,0.18,3.4,True,2015,iPhone 6
2,PROD_000003,Apple iPhone 6 64GB Black,Electronics,Smartphones,Apple,118141.16,0.22,4.6,True,2015,iPhone 6
3,PROD_000004,Apple iPhone 6 16GB White,Electronics,Smartphones,Apple,211721.16,0.21,4.1,True,2015,iPhone 6
4,PROD_000005,Apple iPhone 6 32GB White,Electronics,Smartphones,Apple,114806.24,0.20,3.8,True,2015,iPhone 6
...,...,...,...,...,...,...,...,...,...,...,...
1999,PROD_002000,LG OLED TV Premium,Electronics,TV & Entertainment,LG,240370.32,21.84,4.0,True,2016,OLED TV
2000,PROD_002001,LG QLED TV,Electronics,TV & Entertainment,LG,86477.53,33.52,4.5,True,2015,QLED TV
2001,PROD_002002,LG Android TV,Electronics,TV & Entertainment,LG,179795.49,26.43,4.0,True,2015,Android TV
2002,PROD_002003,LG Fire Stick,Electronics,TV & Entertainment,LG,202942.01,41.83,3.2,True,2020,Fire Stick
2003,PROD_002004,LG Chromecast,Electronics,TV & Entertainment,LG,185611.60,18.82,4.2,True,2021,Chromecast

## Data cleaning

In [154]:
amazon_complete['order_date'].describe()

count        1127609
unique         14414
top       2020-12-02
freq             543
Name: order_date, dtype: object

In [155]:
amazon_complete['order_date'] = pd.to_datetime(amazon_complete['order_date'])

In [156]:
amazon_complete['order_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1127609 entries, 0 to 1127608
Series name: order_date
Non-Null Count    Dtype
--------------    -----
1127609 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 8.6 MB

In [157]:
amazon_complete.dtypes

transaction_id                    object
order_date                datetime64[ns]
customer_id                       object
product_id                        object
product_name                      object
category                          object
subcategory                       object
brand                             object
original_price_inr                object
discount_percent                 float64
discounted_price_inr             float64
quantity                           int64
subtotal_inr                     float64
delivery_charges                 float64
final_amount_inr                 float64
customer_city                     object
customer_state                    object
customer_tier                     object
customer_spending_tier            object
customer_age_group                object
payment_method                    object
delivery_days                     object
delivery_type                     object
is_prime_member                   object
is_festival_sale                  object
festival_name                     object
customer_rating                   object
return_status                     object
order_month                        int64
order_year                         int64
order_quarter                      int64
product_weight_kg                float64
is_prime_eligible                 object
product_rating                   float64
dtype: object

In [158]:
amazon_complete['original_price_inr'] = (
    amazon_complete['original_price_inr']
    .astype(str)
    .str.extract(r'(\d[\d,]*\.?\d*)')[0]   # Extract numbers (with optional decimal)
    .str.replace(',', '', regex=True)      # Remove commas
    .astype(float)                         # Convert to float
    .round(2)                              # Keep only 2 decimal places
)

In [159]:
amazon_complete['original_price_inr'].isna().sum()

0

In [160]:
amazon_complete['customer_rating'].unique()

array(['4.0', '5/5', '5.0', '5.0 stars', '3.5', nan, '4.0 stars', '4.5',
       '3.0', '4.5 stars', '4/5', '3/5', '4.5/5.0', '3.0 stars',
       '5.0/5.0', '4.0/5.0', '3.0/5.0', '3.5/5.0', '3', '3.5 stars', '4',
       '5'], dtype=object)

In [161]:
amazon_complete['customer_rating'] = (
    amazon_complete['customer_rating'].astype(str)
    .str.extract(r'^([\d\.]+)')[0]     # extract only leading number before space or slash
    .astype(float)
)

In [162]:
amazon_complete['customer_rating'].unique()

array([4. , 5. , 3.5, nan, 4.5, 3. ])

In [163]:
amazon_complete['customer_city'].unique()

array(['Kolkata', 'Ludhiana', 'Bangalore', 'Kochi', 'Mumbai', 'Delhi',
       'Aligarh', 'Surat', 'Kanpur', 'Chennai', 'Hyderabad', 'Bareilly',
       'Vadodara', 'Indore', 'Visakhapatnam', 'Lucknow', 'Pune',
       'Bhubaneswar', 'Nagpur', 'Patna', 'Ahmedabad', 'Jaipur', 'Meerut',
       'Allahabad', 'Varanasi', 'Coimbatore', 'Moradabad', 'Saharanpur',
       'Chandigarh', 'New Delhi', 'Gorakhpur', 'Delhi NCR', 'delhi',
       'Bengalore', 'Banglore', 'CHENNAI', 'Mumbai ', 'mumba', 'chenai',
       'Bengaluru', 'Calcutta', 'Kolkata ', 'KOLKATA', 'DELHI', 'Bombay',
       'Madras', 'kolkata', 'Chennai ', 'MUMBAI', 'BANGALORE'],
      dtype=object)

In [164]:
# Step 1: Clean spaces + lowercase
amazon_complete['customer_city'] = amazon_complete['customer_city'].str.strip().str.lower()
city_mapping = {
    # Mumbai variations
    'bombay': 'mumbai', 'mumba': 'mumbai', 'mumbai': 'mumbai', 'mumbai ': 'mumbai', 'mumbai': 'mumbai', 'mumbai': 'mumbai', 'mumbai': 'mumbai',
    # Bangalore variations
    'bangalore': 'bengaluru', 'bengalore': 'bengaluru', 'banglore': 'bengaluru', 'bangalore': 'bengaluru', 'bangalore': 'bengaluru',
    'bengaluru': 'bengaluru', 'bangalore': 'bengaluru',
    # Kolkata variations
    'kolkata': 'kolkata', 'kolkata ': 'kolkata', 'kolkata': 'kolkata', 'kolkata': 'kolkata', 'calcutta': 'kolkata',
    # Chennai variations
    'chennai': 'chennai', 'chenai': 'chennai', 'madras': 'chennai', 'chennai ': 'chennai',
    # Delhi variations
    'delhi': 'delhi', 'new delhi': 'delhi', 'delhi ncr': 'delhi'
}

# Step 3: Replace using map, defaulting to cleaned value if not in dictionary
amazon_complete['customer_city'] = amazon_complete['customer_city'].map(city_mapping).fillna(amazon_complete['customer_city']).str.title()

print(amazon_complete['customer_city'].unique())

['Kolkata' 'Ludhiana' 'Bengaluru' 'Kochi' 'Mumbai' 'Delhi' 'Aligarh'
 'Surat' 'Kanpur' 'Chennai' 'Hyderabad' 'Bareilly' 'Vadodara' 'Indore'
 'Visakhapatnam' 'Lucknow' 'Pune' 'Bhubaneswar' 'Nagpur' 'Patna'
 'Ahmedabad' 'Jaipur' 'Meerut' 'Allahabad' 'Varanasi' 'Coimbatore'
 'Moradabad' 'Saharanpur' 'Chandigarh' 'Gorakhpur']

In [165]:
amazon_complete['is_prime_eligible'].unique()

array(['True', 'False', 'Yes', 'TRUE', 'FALSE', '1', '0', 'No'],
      dtype=object)

In [166]:
def normalize_boolean(value):
    if pd.isna(value):   # Handle missing values (NaN/None)
        return np.nan
    v = str(value).strip().lower()
    if v in ['true', 'yes', 'y', '1']:
        return True
    elif v in ['false', 'no', 'n', '0']:
        return False
    else:
        return np.nan

In [167]:
amazon_complete['is_festival_sale'] = amazon_complete['is_festival_sale'].apply(normalize_boolean)
amazon_complete['is_prime_member'] = amazon_complete['is_prime_member'].apply(normalize_boolean)
amazon_complete['is_prime_eligible'] = amazon_complete['is_prime_eligible'].apply(normalize_boolean)

In [168]:
amazon_complete['is_prime_eligible'].unique()

array([ True, False])

In [169]:
amazon_complete['category'].unique()

array(['Electronics', 'Electronicss', 'Electronic',
       'Electronics & Accessories', 'ELECTRONICS'], dtype=object)

In [170]:
amazon_complete['category'] = amazon_complete['category'].str.strip().str.lower()
category_mapping = {
    'electronics': 'Electronics',
    'electronic': 'Electronics',
    'electronicss': 'Electronics',
    'electronics & accessories': 'Electronics & Accessories'
}
amazon_complete['category'] = amazon_complete['category'].map(category_mapping).fillna( amazon_complete['category']).str.title()

In [171]:
amazon_complete['category'].unique()

array(['Electronics', 'Electronics & Accessories'], dtype=object)

In [172]:
amazon_complete['delivery_days'].unique()

array(['3', '6', '4', '5', '2', '1', 'Same Day', '1-2 days', '7', '-1',
       'Express', '15', '0'], dtype=object)

In [173]:
def clean_delivery(x):
    if pd.isna(x): 
        return np.nan
    x = str(x).strip().lower()

    # Handle special cases
    if x in ["same day", "express"]:
        return 0

    # Handle ranges like "1-2 days"
    range_match = re.match(r'(\d+)-(\d+)', x)
    if range_match:
        n1, n2 = map(int, range_match.groups())
        return round((n1 + n2) / 2)

    # Extract single number
    num_match = re.search(r'\d+', x)
    if num_match:
        days = int(num_match.group())
        return days if 0 <= days <= 30 else np.nan

    return np.nan

amazon_complete['delivery_days'] = amazon_complete['delivery_days'].apply(clean_delivery)

In [174]:
amazon_complete['delivery_days'].unique()

array([ 3,  6,  4,  5,  2,  1,  0,  7, 15], dtype=int64)

## Handle Duplicate Transactions

In [175]:
amazon_complete["transaction_id"].duplicated().sum()

0

In [176]:
amazon_complete['quantity'].unique()

array([1, 3, 2], dtype=int64)

In [177]:
duplicate_cols = [
    'order_date', 'customer_id', 'product_id',
    'original_price_inr', 'discounted_price_inr', 'final_amount_inr'
]

# Step 1: Find potential duplicates
amazon_complete['is_duplicate'] = amazon_complete.duplicated(subset=duplicate_cols, keep=False)

In [178]:
# Group duplicates by duplicate_cols to inspect them together
grouped = amazon_complete[amazon_complete['is_duplicate']].groupby(duplicate_cols)

def classify_duplicate(group):
    """
    Classifies a group of duplicate rows as either bulk_order or error_duplicate.
    """
    # If quantity sums up to match subtotal/final amount -> likely bulk order
    total_quantity = group['quantity'].sum()
    total_amount = group['final_amount_inr'].sum()
    
    # Compute expected amount per unit (based on first row)
    price_per_unit = group['final_amount_inr'].iloc[0] / group['quantity'].iloc[0]

    expected_total = total_quantity * price_per_unit

    # Allow small floating point tolerance
    if abs(expected_total - total_amount) < 1e-2:
        return "bulk_order"
    else:
        return "error_duplicate"
duplicate_classification = grouped.apply(classify_duplicate).reset_index(name='duplicate_type')

In [179]:
duplicate_classification['duplicate_type'].value_counts()

bulk_order    5543
Name: duplicate_type, dtype: int64

In [180]:

amazon_complete = amazon_complete.merge(duplicate_classification, on=duplicate_cols, how='left')

In [181]:
amazon_2015_genuine = amazon_complete[amazon_complete['duplicate_type'] == "bulk_order"]
amazon_2015_genuine = amazon_2015_genuine.groupby(duplicate_cols, as_index=False).agg({
    'quantity': 'sum',
    'subtotal_inr': 'sum',
    'final_amount_inr': 'sum',
    'transaction_id': lambda x: ','.join(x)  # keep record of transaction ids
})

In [182]:
amazon_2015_genuine.head()

,order_date,customer_id,product_id,original_price_inr,discounted_price_inr,quantity,subtotal_inr,final_amount_inr,transaction_id
0,2015-01-01,CUST_2015_00008125,PROD_000060,94029.64,94029.64,2,188059.28,188059.28,"TXN_2015_00002000_DUP,TXN_2015_00002000"
1,2015-01-03,CUST_2015_00007653,PROD_000075,35581.67,35581.67,2,71163.34,71163.34,"TXN_2015_00000942,TXN_2015_00000942_DUP"
2,2015-01-15,CUST_2015_00005080,PROD_001640,69584.33,60704.57,2,121409.14,121409.14,"TXN_2015_00001391,TXN_2015_00001391_DUP"
3,2015-01-17,CUST_2015_00010624,PROD_001935,45363.47,45363.47,4,181453.88,181453.88,"TXN_2015_00002138_DUP,TXN_2015_00002138"
4,2015-01-20,CUST_2015_00003918,PROD_000072,20937.46,10120.43,4,40481.72,40481.72,"TXN_2015_00002326,TXN_2015_00002326_DUP"

## Outlier

In [183]:
def flag_price_outliers(df):
    outlier_mask = pd.Series(False, index=df.index)

    # Group by subcategory & brand
    for (sub, br), group in df.groupby(['subcategory', 'brand']):
        q1 = group['original_price_inr'].quantile(0.25)
        q3 = group['original_price_inr'].quantile(0.75)
        iqr = q3 - q1
        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr

        # Mark outliers within this group
        outlier_mask.loc[group.index] = (group['original_price_inr'] < lower) | (group['original_price_inr'] > upper)

    return outlier_mask

# Apply function
amazon_complete['price_outlier_IQR'] = flag_price_outliers(amazon_complete)

In [184]:
amazon_complete['price_outlier_IQR'][amazon_complete['price_outlier_IQR']==True].count()

10846

In [185]:
def flag_price_outliers_sigma(df):
    outlier_mask = pd.Series(False, index=df.index)

    # Group by subcategory & brand
    for (sub, br), group in df.groupby(['subcategory', 'brand']):
        mean = group['original_price_inr'].mean()
        std = group['original_price_inr'].std()

        # Avoid division by zero for groups with 1 row or zero std
        if pd.isna(std) or std == 0:
            continue
        upper = mean + 3 * std
        lower = mean - 3 * std

        # Mark outliers in this group
        outlier_mask.loc[group.index] = (group['original_price_inr'] < lower) | (group['original_price_inr'] > upper)

    return outlier_mask

amazon_complete['price_outlier_3_sigma'] = flag_price_outliers_sigma(amazon_complete)

In [186]:
amazon_complete['price_outlier_3_sigma'][amazon_complete['price_outlier_3_sigma']==True].count()

2790

In [187]:
amazon_complete[amazon_complete['price_outlier_3_sigma']==True].head(2)

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,discounted_price_inr,quantity,subtotal_inr,delivery_charges,final_amount_inr,customer_city,customer_state,customer_tier,customer_spending_tier,customer_age_group,payment_method,delivery_days,delivery_type,is_prime_member,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating,is_duplicate,duplicate_type,price_outlier_IQR,price_outlier_3_sigma
325,TXN_2019_00090721,2019-10-28,CUST_2019_00018735,PROD_001957,Noise Sports Watch Premium,Electronics,Smart Watch,Noise,4631753.0,59.49,18764.62,2,37529.24,0.0,37529.24,Bengaluru,Karnataka,Metro,Premium,26-35,COD,3,Standard,False,True,Diwali Sale,5.0,Delivered,10,2019,4,0.03,False,4.2,False,NaN,True,True
548,TXN_2017_00032735,2017-06-03,CUST_2015_00008001,PROD_001980,Samsung 4K TV,Electronics,TV & Entertainment,Samsung,13099514.0,0.00,130995.14,1,130995.14,0.0,130995.14,Delhi,Delhi,Metro,Standard,26-35,UPI,6,Standard,False,False,NaN,4.0,Delivered,6,2017,2,41.77,True,4.4,False,NaN,True,True

## Payment Method cleaning

In [188]:
print("Memory size =", amazon_complete['payment_method'].memory_usage(deep=True) / (1024 ** 2), "MB")
amazon_complete["payment_method"].unique()

Memory size = 108.20584869384766 MB

array(['COD', 'UPI', 'Debit Card', 'Credit Card', 'Net Banking', 'Wallet',
       'BNPL'], dtype=object)

In [189]:
# Define mapping for messy payment method names
payment_mapping = {
    'COD': 'COD',
    'Cash on Delivery': 'COD',
    'C.O.D': 'COD',

    'UPI': 'UPI',
    'PhonePe': 'UPI',
    'GooglePay': 'UPI',
    'UPI/PhonePe/GooglePay': 'UPI',

    'Credit Card': 'Credit Card',
    'CREDIT_CARD': 'Credit Card',
    'CC': 'Credit Card',

    'Debit Card': 'Debit Card',
    'DEBIT_CARD': 'Debit Card',
    'DC': 'Debit Card',

    'Net Banking': 'Net Banking',
    'NetBanking': 'Net Banking',

    'Wallet': 'Wallet',
    'Paytm Wallet': 'Wallet',
    'Mobikwik': 'Wallet',

    'BNPL': 'BNPL',
    'Buy Now Pay Later': 'BNPL'
}

# 1. Map messy payment methods directly into payment_method
amazon_complete['payment_method'] = amazon_complete['payment_method'].replace(payment_mapping)

# 2. Convert the cleaned payment_method to categorical for memory savings
amazon_complete['payment_method'] = pd.Categorical(
    amazon_complete['payment_method'],
    categories=['Cash on Delivery', 'UPI', 'Credit Card', 'Debit Card', 'Net Banking', 'Wallet', 'BNPL'],
    ordered=False
)

print("Unique Cleaned Payment Methods:", amazon_complete['payment_method'].unique())

Unique Cleaned Payment Methods: [NaN, 'UPI', 'Debit Card', 'Credit Card', 'Net Banking', 'Wallet', 'BNPL']
Categories (7, object): ['Cash on Delivery', 'UPI', 'Credit Card', 'Debit Card', 'Net Banking', 'Wallet', 'BNPL']

In [191]:
amazon_complete['payment_method'].dtype

CategoricalDtype(categories=['Cash on Delivery', 'UPI', 'Credit Card', 'Debit Card',
                  'Net Banking', 'Wallet', 'BNPL'],
, ordered=False)

In [193]:
print("Memory size =", amazon_complete['payment_method'].memory_usage(deep=True) / (1024 ** 2), "MB")

Memory size = 41.92910861968994 MB

In [194]:
amazon_complete.shape

(1127609, 38)

In [20]:
# To see all rows (i.e., all columns and their null percentages)
pd.set_option('display.max_rows', 50)  # Show all rows

In [197]:
amazon_complete.isnull().sum(axis=0) / amazon_complete.shape[0] * 100

transaction_id             0.000000
order_date                 0.000000
customer_id                0.000000
product_id                 0.000000
product_name               0.000000
category                   0.000000
subcategory                0.000000
brand                      0.000000
original_price_inr         0.000000
discount_percent           0.000000
discounted_price_inr       0.000000
quantity                   0.000000
subtotal_inr               0.000000
delivery_charges           7.999315
final_amount_inr           0.000000
customer_city              0.000000
customer_state             0.000000
customer_tier              0.000000
customer_spending_tier     0.000000
customer_age_group        12.000170
payment_method            28.629693
delivery_days              0.000000
delivery_type              0.000000
is_prime_member            0.000000
is_festival_sale           0.000000
festival_name             68.972135
customer_rating           30.302702
return_status              0.000000
order_month                0.000000
order_year                 0.000000
order_quarter              0.000000
product_weight_kg          0.000000
is_prime_eligible          0.000000
product_rating             0.000000
is_duplicate               0.000000
duplicate_type            99.016858
price_outlier_IQR          0.000000
price_outlier_3_sigma      0.000000
dtype: float64

In [ ]:
amazon_complete.to_csv("amazon_complete.csv", index=False)

✅ CSV file 'amazon_2015.csv' created successfully!

In [ ]:
print("✅ CSV file 'amazon_2015.csv' created successfully!")

✅ CSV file 'amazon_2015.csv' created successfully!

:

In [ ]:
df=pd.read_csv("amazon_complete.csv")

In [ ]:
#df.isnull().sum(axis=0) / df.shape[0] * 100

transaction_id             0.000000
order_date                 0.000000
customer_id                0.000000
product_id                 0.000000
product_name               0.000000
category                   0.000000
subcategory                0.000000
brand                      0.000000
original_price_inr         0.000000
discount_percent           0.000000
discounted_price_inr       0.000000
quantity                   0.000000
subtotal_inr               0.000000
delivery_charges           0.000000
final_amount_inr           0.000000
customer_city              0.000000
customer_state             0.000000
customer_tier              0.000000
customer_spending_tier     0.000000
customer_age_group         0.000000
payment_method             0.000000
delivery_days              0.000000
delivery_type              0.000000
is_prime_member            0.000000
is_festival_sale           0.000000
festival_name             68.972135
customer_rating            0.000000
return_status              0.000000
order_month                0.000000
order_year                 0.000000
order_quarter              0.000000
product_weight_kg          0.000000
is_prime_eligible          0.000000
product_rating             0.000000
is_duplicate               0.000000
duplicate_type             0.000000
price_outlier_IQR          0.000000
price_outlier_3_sigma      0.000000
dtype: float64

In [47]:
df['customer_rating'] = df['customer_rating'].fillna(-1)

In [43]:
df['payment_method'] = df['payment_method'].fillna('Not define')

In [39]:
df['customer_age_group'] = df['customer_age_group'].fillna('26-35')

In [33]:
df['delivery_charges'] = df['delivery_charges'].fillna(0)

In [34]:
df['duplicate_type'] = df['duplicate_type'].fillna('normal')

In [50]:
df.to_csv("amazon_customer.csv", index=False)

In [52]:
df = pd.read_csv(os.path.join(dataset_folder, "amazon_india_products_catalog.csv"))

In [64]:
df["is_prime_eligible"].value_counts(dropna=False)

True     1654
False     350
Name: is_prime_eligible, dtype: int64

In [ ]:
df["is_prime_eligible"] = df["is_prime_eligible"].astype(int)

After conversion:
1    1654
0     350
Name: is_prime_eligible, dtype: int64

In [68]:
df.to_csv("amazon_products.csv", index=False)